.hola{
    font-size: 25px;
}
.hola-h1{
    background-color: blanchedalmond;
    color: blue;
    font-size: 2em;
    font-family:fantasy;
    line-height: 2;
    font-weight: 1000;
    padding: 20px 30px;

}